<div id="tutorial">
    <div class="contents">
        <div class="inner">
            <div class="box-inner">
                <section>
                    <div class="tutorial-title">
                        {{'titleShoukenComplete' | translate}}
                    </div>
                    <div class="shouken-img large">
                        <img class="" src="assets/img/start-apply.png">
                    </div>
                    <div class="tutorial-footer">
                        <div class="input-box">
                            <button class="normal-bt next-bt btn-45" (click)="doCancel()">{{'btnCancel' | translate}}</button>
                            <button class="normal-bt next-bt btn-45" (click)="doNext()">{{'buttonApply' | translate}}</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>