@charset "utf-8";
/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
body.is-fixed .nav-fix-pos {
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;left: 0;
}
body.is-fixed .header {
	margin-bottom: 51px;	/*メインメニューの高さ(51)と同じサイズを指定する*/
}
body.is-fixed .mt-top {
	margin-top: 51px;	/*.mt-topのサイズ(650)にメインメニューの高さ(51)を合計したサイズを指定する*/
}
body.is-fixed .mt-top2 {
	margin-top: 51px;	/*.mt-top2のサイズ(250)にメインメニューの高さ(51)を合計したサイズを指定する*/
}
/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){
	body.is-fixed .header {
		margin-bottom: 102px;	/*メインメニューの２段分の高さ(102)と同じサイズを指定する*/
	}
	body.is-fixed .mt-top {
		margin-top: 552px;	/*.mt-topのサイズ(450)にメインメニュー２段分の高さ(102)を合計したサイズを指定する*/
	}
	body.is-fixed .mt-top2 {
		margin-top: 252px;	/*.mt-top2のサイズ(150)にメインメニュー２段分の高さ(102)を合計したサイズを指定する*/
	}
}
/*画面幅800px以下で、端末を横向きにした時の設定（※表示領域が狭くなるのでメニューをスクロールさせる）
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (orientation: landscape) and (max-width: 800px){
	body.is-fixed .nav-fix-pos {
		position: static;
		top: auto;
	}
	body.is-fixed .header {
		margin-bottom: 0px;	/*メニューをスクロール表示にさせた場合はここは「0」にする*/
	}
	body.is-fixed .mt-top {
		margin-top: 450px;	/*mt-topのサイズ(450)を指定する*/
	}
	body.is-fixed .mt-top2 {
		margin-top: 150px;	/*.mt-top2のサイズ(150)を指定する*/
	}
}
/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){
	body.is-fixed .header {
		margin-bottom: 0px;	/*メニューをスクロール表示にさせた場合はここは「0」にする*/
	}
	body.is-fixed .mt-top {
		margin-top: 350px;	/*mt-topのサイズ(350)を指定する*/
	}
	body.is-fixed .mt-top2 {
		margin-top: 100px;	/*.mt-top2のサイズ(100)を指定する*/
	}
}