<app-header-cpn></app-header-cpn>
<div id="upload">
    <div class="contents">
        <div class="inner">
            <section >
                <div class="tutorial-title">
                    {{'titleUpload1' | translate}}<br>{{'titleUpload2' | translate}}
                </div>
                <div class="line-box">
                    <div class="tutorial-img large">
                        <img class="" src="assets/img/tutorial08.png">
                    </div>
                    <p class="popup-title">{{'titleUpload3' | translate}}</p>
                    <p>{{'titleUpload4' | translate}}</p>
                    <button class="normal-bt">{{'btn' | translate}}</button>
                </div>
            </section >
        </div>
    </div>
</div>
<app-footer-cpn></app-footer-cpn>