<app-header-cpn *ngIf="displayMenu" [headerTitle]="headerTitle"></app-header-cpn>
<div id="login">
    <div class="contents">
        <div class="inner">
            <div class="box-inner">
                <section>
                    <div class="img-banner">
                        <img class="banner" src="assets/img/login-img.png" />
                    </div>
                    <div class="login-form">
                        <div class="input-box">
                            <input matInput 
                                [formControl]="oldPasswordFormControl" 
                                [ngClass]="{'input-error': oldPasswordFormControl.hasError('required') && (oldPasswordFormControl.dirty || oldPasswordFormControl.touched)}"
                                (keyup)="clearErr()" 
                                class="user-name" placeholder="{{'currentPassword' | translate}}" type="password" maxlength="20" />
                            <mat-error *ngIf="oldPasswordFormControl.hasError('required') && (oldPasswordFormControl.dirty || oldPasswordFormControl.touched)">
                                {{'err_msg.oldPasswordRequired' | translate}}
                            </mat-error>
                        </div>
                        <div class="input-box">
                            <input matInput 
                                [formControl]="newPasswordFormControl" 
                                [ngClass]="{'input-error': newPasswordFormControl.hasError('required') && (newPasswordFormControl.dirty || newPasswordFormControl.touched)}"
                                (keyup)="clearErr()" 
                                class="pass-word" placeholder="{{'newPassword' | translate}}" type="password" maxlength="20" />
                            <mat-error *ngIf="newPasswordFormControl.hasError('required') && (newPasswordFormControl.dirty || newPasswordFormControl.touched)">
                                {{'err_msg.newPasswordRequired' | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFormControl.hasError('lengthError') 
                            && !newPasswordFormControl.hasError('required')
                            && (newPasswordFormControl.dirty || newPasswordFormControl.touched)">
                                {{'err_msg.lengthNewPassword' | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFormControl.hasError('characterOther') 
                            && !newPasswordFormControl.hasError('required')
                            && !newPasswordFormControl.hasError('lengthError')
                            && (newPasswordFormControl.dirty || newPasswordFormControl.touched)">
                                {{'err_msg.characterOtherNewPassword' | translate}}
                            </mat-error>
                            <mat-error *ngIf="newPasswordFormControl.hasError('notHaveNumberOrLatin') 
                            && !newPasswordFormControl.hasError('required')
                            && !newPasswordFormControl.hasError('lengthError')
                            && !newPasswordFormControl.hasError('characterOther') 
                            && (newPasswordFormControl.dirty || newPasswordFormControl.touched)">
                                {{'err_msg.notHaveNumberOrLatin' | translate}}
                            </mat-error>
                        </div>
                        <div class="input-box">
                            <input matInput 
                                [formControl]="confirmPasswordFormControl" 
                                [ngClass]="{'input-error': confirmPasswordFormControl.hasError('required') && (confirmPasswordFormControl.dirty || confirmPasswordFormControl.touched)}"
                                (keyup)="clearErr()" 
                                class="pass-word" placeholder="{{'confirmPassword' | translate}}" type="password" maxlength="20" />
                            <mat-error *ngIf="confirmPasswordFormControl.hasError('required') && (confirmPasswordFormControl.dirty || confirmPasswordFormControl.touched)">
                                {{'err_msg.confirmPasswordRequired' | translate}}
                            </mat-error>
                            <div *ngIf="requestResult.err && 
                                !(oldPasswordFormControl.hasError('required') && (oldPasswordFormControl.dirty || oldPasswordFormControl.touched)) &&
                                !(newPasswordFormControl.hasError('required') && (newPasswordFormControl.dirty || newPasswordFormControl.touched)) &&
                                !(confirmPasswordFormControl.hasError('required') && (confirmPasswordFormControl.dirty || confirmPasswordFormControl.touched))" 
                                class="mat-error">
                                {{requestResult.msg}}
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="work-area work-area-no-bottom">
                        <div class="right-area">
                            <button
                                (click)="doChangPassword()"
                                [disabled]="oldPasswordFormControl.hasError('required') || newPasswordFormControl.hasError('required') 
                                || confirmPasswordFormControl.hasError('required') || newPasswordFormControl.hasError('lengthError')
                                || newPasswordFormControl.hasError('characterOther') || newPasswordFormControl.hasError('notHaveNumberOrLatin')" 
                                [ngClass]="{'input-disable': oldPasswordFormControl.hasError('required')
                                 || newPasswordFormControl.hasError('required') 
                                 || confirmPasswordFormControl.hasError('required') || newPasswordFormControl.hasError('lengthError')
                                 || newPasswordFormControl.hasError('characterOther') || newPasswordFormControl.hasError('notHaveNumberOrLatin')}"
                                class="circle-bt">
                                <span class="done-bt"></span>
                            </button>
                        </div>
                        <button
                            class="circle-bt" 
                            (click)="doBack()">
                            <span class="return-bt"></span>
                        </button>
                    </div>
                </section>
                <app-banner [bottomMargin]="displayMenu"></app-banner>
            </div>
        </div>
    </div>
</div>
<app-footer-cpn *ngIf="displayMenu"></app-footer-cpn>