#login section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#login .img-banner{
    padding: 10px 20px;
}
#login img.banner{
    min-width: 200px;
}
.login-form{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    position: relative;
}
.login-form input{
    border-radius: 0;
    width: 100%;
    display: block;
}
.login-form input.user-name{
    border-radius: 0px 0px 0 0;
}
.login-form input.pass-word{
    border-radius: 0 0 0px 0px;
}
.login-form a{
    margin-top: 25px;
    display: block;
    color: #3034de;
}
.login-form .input-box:last-child {
    margin-bottom: 10px;
}
.login-footer{
    width: 100%;
}
.login-footer .normal-bt{
    width: 100%;
    margin-top: 40px;
}
#login .box-inner{
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}
.work-area {
    position: unset;
    margin-top: 20px;
}
.work-area button {
    width: 50px;
    height: 50px;
}
.work-area button .return-bt, .work-area button .done-bt {
    width: 20px;
    height: 20px;
    background-size: 20px;
}
.circle-bt{
    border-radius: 50px;
}

@media only screen and (max-width: 479px){
    #login .inner{
        margin-top: 0;
    }
    .login-form a{
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px){
    #login .inner{
        margin-top: 0;
    }
    .login-form a{
        margin-top: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    #login .box-inner{
        margin-top: 20px;
    }
    input {
        height: 50px;
    }
}

@media only screen and (min-width: 960px) {
    #login .box-inner{
        margin-top: 10px;
    }
    #login img.banner{
        min-width: 350px;
    }
}

@media only screen and (max-height: 415px){
    #login .img-banner{
        display: none;
    }
    #login .login-form{
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px){
    #login .contents {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}