<div class="no-padding remodal remodal-is-initialized remodal-is-opened">
    <div class="popup-title custom-modal-title">お試し証券分析</div>
    <div class="popup-container">
        <div class="popup-content">
            <table class="noborder-table input-table">
                <colgroup>
                    <col width="10%">
                    <col width="90%">
                </colgroup>
                <tr class="tr-line-bottom">
                    <td colspan="2" class="text-center">
                        <img src="../../../../assets/img/assurance-check.png" /><br />
                    </td>
                </tr>
                <!--
                <tr class="tr-line-bottom">
                    <td></td>
                    <td class="text-left">
                        連絡先連絡先<br />
                        連絡先<br />
                        連絡先連絡先連絡先連絡先
                    </td>
                </tr>
                <tr class="tr-line-bottom">
                    <td></td>
                    <td class="text-left">
                        連絡先連絡先<br />
                        連絡先<br />
                        連絡先連絡先連絡先連絡先
                    </td>
                </tr>
                <tr class="tr-line-bottom">
                    <td></td>
                    <td class="text-left">
                        連絡先連絡先<br />
                        連絡先<br />
                        連絡先連絡先連絡先連絡先
                    </td>
                </tr>
                -->
            </table>
        </div>
        <div class="popup-footer popup-footer-custom text-center">
            <button (click)="doCancel()" type="button" class="normal-bt btn-45 btn-default">キャンセル</button>
            <button (click)="doAccept()" type="button" class="normal-bt btn-45">依頼する</button>
        </div>
    </div>
</div>