.message-time{
    font-size: 14px;
}
.message-head{
    font-weight: bold;
    margin: 5px 0px;
}
.message-content, .collapse-placeholder{
    line-height: 20px;
}
.message-footer{
    margin: 15px 0px 10px 0px;
}
.message-footer .bg-orange{
    background-color: #f98a18;
    border-radius: 20px;
}
.message-footer .bg-green{
    border-radius: 20px;
    background-image: url("../../../assets/img/grid-icon.png");
}

img {
	border: none;
    max-width: 125px !important;
    max-height: 125px !important;
	height: auto;
	vertical-align: middle;
}

.message-img {
    border: 1px solid #eee;
    padding: 2px;
    margin-top: 15px;
    float: left;
    margin-right: 5px;
    width: 160px;
    text-align: center;
    position: relative;
}
.message-img:last-child {
    margin-right: 0;
}
.message-img > div {
    height: 160px;
    display: flex;
    align-items: center;
}
.message-img img {
    clear: both;
    max-width: 150px;
    margin: auto;
}

@media only screen and (max-width: 479px){
    #message .contents {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px){
    #message .contents {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    #message .contents {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1279px){
    
}

@media only screen and (min-width: 1280px){
    
}

@media only screen and (max-height: 415px){
    
}