/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://use.fontawesome.com/releases/v5.1.1/css/all.css";
/*----------- Common ------------*/
body {
    
}
.no-padding{
    padding: 0;
}
.padding-10{
    padding: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-t-b-40{
    margin-bottom: 40px;
    margin-top: 40px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-justify{
    text-align: justify;
}
.text-bold{
    font-weight: bold;
}
.text-top-align{
    vertical-align: top;
}
.float-right{
    float: right;
}
.btn-45{
    width: 45%;
}
.btn-40{
    width: 40%;
}
.btn-30{
    width: 30%;
}
.btn-default{
    background-color: #d8d3d3;
}
.btn-active{
    border: 1px solid #E94B3F;
}
.btn-no-active{
    background-color: transparent;
    color: #666;
    border: 1px solid #E94B3F;
}
.circle-alert{
    background-color: #E94B3F;
    color: #fff;
    font-weight: bold;
    float: right;
    width: 30px;
    height: 30px;
}
.blank-select{
    height: 32px;
}
.blank-select-arrow{
    background-image: url("assets/img/arrow_drop_down.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    cursor: pointer;
    height: 32px;
}
.handle {
    background-image: url("assets/img/manual-input.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: center;
    background-position-y: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #E94B3F;
    border-radius: 50%;
    cursor: pointer;
}
.change-pass {
    background-image: url("assets/img/change-password.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: 35px;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    margin-right: 10px;
}
.change-pass-2 {
    background-image: url("assets/img/change-password-2.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 24px;
    background-size: 22px;
    display: inline-block;
    margin-right: 10px;
    display: inline-block;
}
.setting {
    background-image: url("assets/img/terms-service.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: 35px;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    margin-right: 10px;
}
.inbox {
    background-image: url("assets/img/email-inbox.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: 40px;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    margin-right: 10px;
}
.menu-icons06 {
    background-image: url("assets/img/table-w.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: 24px;
    display: inline-block;
    background-position: center;
    margin-right: 10px;
}
.red-circle-icon{
    background-image: url("assets/img/red-circle.png");
    background-repeat: no-repeat;
    height: 20px;
    display: block;
    background-position: center;
    background-size: 100%;
    width: 20px;
    margin: auto;
}
.grey-circle-icon{
    background-image: url("assets/img/gray-circle.png");
    background-repeat: no-repeat;
    height: 20px;
    display: block;
    background-position: center;
    background-size: 100%;
    width: 20px;
    margin: auto;
}
.icon-camera {
    background-image: url("assets/img/camera-b.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.icon-three-dot {
    background-image: url("assets/img/three-dot.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.input-group .input-50{
    width: 50%;
}
.input-group .input-50:first-child, .input-group button:first-child{
    border-radius: 10px 0px 0px 10px; 
    margin: 0;
    border-right: 0; 
}
.input-group .input-50:last-child, .input-group button:last-child{
    border-radius: 0px 10px 10px 0px;
}
.input-group button{
    padding: 5px 10px;
}
.check-square{
    background-position: -6px -7px;
    background-size: 50px;
    background-image: url("assets/img/nocheck-square.png");
}
input[type="checkbox"]:checked+label.check-square {
    background-position: -6px -7px;
    background-size: 50px;
    background-image: url("assets/img/check-square.png");
}
.check-text{
    position: absolute;
    width: 80%;
    top: 11px;
    text-align: left;
}
.product-state{
    display: inline;
    border: 1px solid #E94B3F;
    padding: 5px 10px;
    /*margin-left: 10px;*/
    color: #E94B3F;
}
.add-stock-btn{
    margin: 10px 0px;
    color: inherit;
    width: 100%;
    text-align: left;
}
.minus-icon{
    background-image: url("assets/img/minus-icon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block!important;
    background-position: center;
    margin-bottom: -4px;
    margin-right: 5px;
}
.tool-panel{
    margin-bottom: 15px;
}
.btn-analyzer{
    background-image: url("assets/img/assurance-check.png");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 30px;
    background-position-x: 10px;
    background-position-y: center;
    padding-left: 50px;
}
.add-bt{
    background-image: url("assets/img/plus-w.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-size: 24px;
    display: inline-block;
}
.red-circle-add{
    background-image: url("assets/img/plus-w.png");
    width: 20px;
    height: 20px;
    background-color: #E94B3F;
    background-size: 15px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    background-position: center;
    margin-bottom: -8px;
    border: 5px solid #E94B3F;
}
.circle-red{
    background-color: #E94B3F;
}
.three-line{
    background-image: url("assets/img/three-line.png");
    background-size: 20px;
    width: 20px;
    background-position: center;
}
.text-content{
    float: left;
    width: 100%;
    padding: 0px 10px 10px 10px;
    text-align: justify;
}
.text-content h2{
    color: inherit;
    background-color: transparent;
    box-shadow: unset;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
    padding: 0
}
.text-content .text-data{
    line-height: 20px;
    padding: 0;
}
.font-50{
    font-size: 50px;
}
.bg-yellow{
    background-color: #f5d782;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding-top: 5px;
}
.red-cirle-alert{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #E94B3F;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 4px 2px 0px 2px;
}
.bg-yellow .red-cirle-alert{
    position: absolute;
    top: 5px;
    right: 10px;
}
#menubar button{
    position: relative;
}
#menubar span.red-cirle-alert{
    display: none;
    position: absolute;
    z-index: 9;
    color: #fff;
    top: 2px;
    right: 20%;
    padding: 2px 1px 0px 1px;
    font-size: 12px;
    font-weight: inherit;
}
.upload-bt{
    background-image: url("assets/img/upload.png");
}
.bg-green{
    background-color: #30c357;
}
.txt-area{
    border: 1px #ccc solid;
    border-radius: 10px;
    width: 100%;
    padding: 2vmin;
    box-sizing: border-box;
}
.border-circle{
    border-radius: 50%;
}
.down-arrow, .up-arrow{
    background-image: url("assets/img/arrow-down-icon.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px;
    display: inline-block;
    cursor: pointer;
}
.up-arrow{
    background-image: url("assets/img/arrow-up-icon.png");
}
.collapse{
    display: none;
}
.btn-toggle-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background-color: transparent;
    width: 40px;
}
.btn-toggle-menu span{
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.btn-toggle-menu span:last-child{
    margin: 0;
}
.close-menu-bar{
    background-image: url("assets/img/cancel.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-size: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-position: center;
    border-radius: 40% 50% 50% 40%;
}
.sub-menu-bt .bt-text{
    line-height: 100px;
}
.icons-description{
    margin: auto;
}
.remodal .border-table tr:hover {
    background-color: #f3bdb7;
}
.mat-error {
    color: #E94B3F;
    position: absolute;
    left: 0;
    padding-top: 3px;
    font-size: 12px;
}
.input-box {
    position: relative;
}
.input-disable{
    opacity: 0.6;
    cursor: not-allowed;
}
.input-error{
    border: 1px solid #E94B3F;
}
.mat-error-right{
    right: 0;
    left: unset;
}
.tutorial-img img {
    width: unset;
    height: 140px;
}

.shouken-img img {
    width: unset;
    height: auto;
}
input:focus, select:focus, textarea:focus, button:focus{
    box-shadow: 0px 0px 5px 1px #aba6a6;
    outline: none;
}
.alert-success {
    color: #00b330;
    text-align: left;
}

.cdk-overlay-container ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.mat-dialog-container {
    box-shadow: none !important;
    overflow: hidden !important;
}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.slide-content {
    position: relative;
}
.slide-content div.controll{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.slide-content div.controll span {
    background-color: #717773;
    margin-right: 5px;
    border-radius: 100%;
    width: 10px;
    display: none;
    height: 10px;
    cursor: pointer;
}
.slide-content div.controll span:last-child{
    margin-right: 0px;
}
.slide-content div.controll span.active {
    background-color: #ab290e;
}
.slide-content .banner-slide{
    cursor: pointer;
    text-align: center;
}
.footer-img {
    float: left;
    width: 100%;
}
.text-red {
    color: #E94B3F;
}
/*----------- Datetime input ------------*/
.custom-date, .insurance-custom-date{
    position: relative;
}
.custom-date mat-datepicker-toggle, .insurance-custom-date mat-datepicker-toggle{
    position: absolute;
    right: 0;
}
.insurance-custom-date .mat-icon-button{
    height: 30px;
    width: 30px;
    padding: 0;
}
.insurance-custom-date .mat-datepicker-toggle-default-icon {
    vertical-align: sub !important;
}

.mat-calendar-controls{
    margin: 0;
}
.mat-datepicker-content .mat-calendar{
    height: 300px !important;
    width: 290px !important;
}
.mat-calendar-header {
    padding: 0px 8px 0 8px !important;
}
.mat-calendar-controls{
    margin: 0 !important;
}
.mat-calendar-body-label{
    padding: 10px 15px !important;
}
/*----------- Dialog ------------*/
mat-dialog-container{
    border-radius: 20px !important;
    color: #666 !important;
}
.custom-modal{
    display: block !important;
    padding: 0 !important;
    max-width: 90% !important;
}
.custom-modal mat-dialog-container{
    padding: 0 !important
}
.custom-modal .custom-modal-title{
    margin: 0;
    padding: 10px;
    background-color: #E94B3F;
    color: #fff;
    font-size: 18px;
}
.custom-modal .popup-content{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.custom-modal .custom-modal-row{
    height: 42px;
}
.custom-modal .custom-modal-footer{
    margin: 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.custom-modal .popup-content table tr td{
    line-height: 20px;
}
.popup-custom .popup-title{
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}
.popup-custom .popup-content, .popup-custom .popup-footer{
    float: left;
    width: 100%;
}
.popup-custom .popup-content .img-content{
    float: left;
    width: 30%;
    text-align: center;
}
.popup-custom .popup-content .img-full{
    width: 100%;
}
.popup-custom .popup-content .text-content{
    float: left;
    width: 70%;
    padding-left: 10px;
}
.popup-custom .popup-content .text-full-content{
    width: 100%;
}
.popup-custom .popup-content span.text-red{
    color: #E94B3F;
    display: block;
}
.confirm-modal .popup-custom .popup-content .text-full-content{
    margin-top: 20px;
    margin-bottom: 30px !important;
}
/*
.popup-custom .popup-footer-custom{
    margin-bottom: 0;
}
*/
.popup-custom .popup-footer button{
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
}
.popup-custom .popup-footer button:last-child{
    margin-right: 0;
}
.popup-custom .popup-footer button.btn-block{
    display: block;
    width: 100%;
}
.popup-custom .popup-footer .checkbox-group{
    display: block;
    width: 100%;;
    text-align: center;
    clear: both;
}
.popup-custom .popup-footer .checkbox-group label.check-text{
    position: inherit;
    top: -5px;
}
/*----------- Select img dialog ------------*/
.select-img-popup mat-dialog-container{
    background-color: transparent;
    box-shadow: unset;
}
.select-img-item{
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.select-img-item .select-item{
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}
.select-img-item .select-item:last-child{
    border: 0;
}
.select-img-item .select-item span.icon{
    float: right;
    margin-right: 5px;
}
.select-img-item .select-item span.icon img{
    width: 20px;
    cursor: pointer;
}
.select-img-footer button{
    width: 100%;
    color: #0570e2;
    background-color: #fff;
    font-weight: bold;
}
/*---------------------------*/
mat-select{
    border: 1px #ccc solid;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
}
mat-select .mat-select-trigger{
    height: 100%;
    /*margin-top: 5px;*/
}
.mat-select{
    height: 45px;
}
.mat-select-arrow {
    margin-bottom: 4px !important;
}

#menubar span.lb-count {
    display: none;
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: #E94B3F;
    color: #fff;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    line-height: 20px;
}

@media only screen and (max-width: 479px){
    .mobile-margin-bottom-50 {
        margin-bottom: 50px;
    }
    mat-dialog-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .select-img-popup mat-dialog-container{
        padding-left: 30px !important;
        padding-right: 30px !important;
        width: 415px;
        margin: auto;
    }
    .title {
        margin-top: 8px;
    }
    .select-img-popup{
        position: absolute !important;
        bottom: 0;
        max-width: unset !important;
        width: 100% !important;
        left: 0;
    }
    .popup-custom .popup-footer .btn-45{
        padding-left: 0;
        padding-right: 0;
    }
    .sub-menu-bt {
        text-align: left;
        padding-left: 20px;
    }
    .sub-menu-bt span:first-child{
        width: 50px;
        background-position: center;
    }
    .menu-icons-table {
        margin-right: unset;
    }
    #menubar span.red-cirle-alert{
        display: block;
    }
	.plus-bt-text{
        display: block;
        margin-top: 8px;
    }
    #menubar span.lb-count {
        color: #fff !important;
        display: block;
        right: 30%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px){
    .mobile-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .title {
        margin-top: 8px;
    }
    .select-img-popup{
        position: absolute !important;
        bottom: 0;
        max-width: unset !important;
        width: 100% !important;
        left: 0;
    }
    .select-img-popup mat-dialog-container{
        width: 415px;
        margin: auto;
    }
    .popup-custom .popup-footer .btn-45{
        padding-left: 0;
        padding-right: 0;
    }
    .sub-menu-bt {
        text-align: left;
        padding-left: 20px;
    }
    .sub-menu-bt span:first-child{
        width: 50px;
        background-position: center;
    }
    .menu-icons-table {
        margin-right: unset;
    }
    #menubar span.red-cirle-alert{
        display: block;
    }
	.plus-bt-text{
        display: block;
        margin-top: 8px;
    }
    #menubar span.lb-count {
        color: #fff !important;
        display: block;
        right: 36%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .mobile-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .sub-menu-custom{
        margin-top: -30px;
    }
    .sub-menu-custom button{
        max-height: 30px;
    }
    .title {
        margin-top: 8px;
    }
    .select-img-popup{
        position: absolute !important;
        bottom: 0;
        max-width: unset !important;
        width: 100% !important;
        left: 0;
    }
    .select-img-popup mat-dialog-container{
        width: 415px;
        margin: auto;
    }
    .popup-custom .popup-footer .btn-45{
        padding-left: 0;
        padding-right: 0;
    }
    .sub-menu-bt {
        text-align: left;
        padding-left: 20px;
    }
    .sub-menu-bt span:first-child{
        width: 50px;
        background-position: center;
    }
    .menu-icons-table {
        margin-right: unset;
    }
    #menubar span.red-cirle-alert{
        display: block;
    }
    .nav-scroll{
		overflow-x: scroll;
		font-size: 15px !important;
	}
	.sub-menu-bt span:first-child {
		height: 40px;
		background-size: 40px;
	}
	.nav-scroll::-webkit-scrollbar {
		width: 0px;
		height: 0px;
    }
    .nav-scroll .principal-icon{
        width: 100px;
        background-size: 100px;
        height: 100px;
    }
    .nav-scroll .principal-box {
        height: 200px;
    }
    .nav-scroll .principal-box .name {
        font-size: 16px;
    }
    .nav-scroll .sub-menu-bt{
        height: 70px;
    }
    .nav-scroll .sub-menu-bt .bt-text{
        font-size: 16px;
    }
    .nav-scroll .btn-analyzer {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px){
    #menubar span.lb-count {
        color: #fff !important;
        display: block;
        right: 36%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px){
    html, header .inner, .contents .inner, #footermenu {
        font-size: 16px;
        width: 768px;
        margin: auto;
    }
    header .inner{
        margin-bottom: 10px;
    }
    .list{
        width: 31.7%;
    }
    #menubar button{
        text-align: center;
        align-items: center;
    }
    .btn-toggle-menu{
        display: none;
    }
    .select-img-popup {
        bottom: 10px !important;
    }
    .select-img-popup mat-dialog-container{
        background-color: #fff;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);;
        width: 415px;
        margin: auto;
    }
    .select-img-popup mat-dialog-container .select-img-item{
        border: 0;
    }
    .select-img-popup mat-dialog-container .select-img-footer button{
        background-color: #d8d3d3;
    }
    .icons-description {
        font-size: 14px;
        height: 40px;
        width: 100%;
        text-align: center;
    }
    #menubar span.lb-count {
        color: #E94B3F !important;
        background-color: #fff;
        display: block;
        top: 10%;
        right: 3%;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1279px){
    #menubar span.lb-count {
        color: #E94B3F !important;
        background-color: #fff;
        display: block;
        top: 10%;
        right: 3%;
    }
    .sub-menu-custom{
        margin-top: -30px;
    }
    .sub-menu-custom button{
        max-height: 30px;
    }
    .btn-toggle-menu{
        display: none;
    }
    .select-img-popup mat-dialog-container{
        background-color: #fff;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);;
        width: 415px;
        margin: auto;
    }
    .select-img-popup mat-dialog-container .select-img-item{
        border: 0;
    }
    .select-img-popup mat-dialog-container .select-img-footer button{
        background-color: #d8d3d3;
    }
    .contents .inner {
        width: 100%;
    }
}

@media only screen and (min-width: 1280px){
    #menubar span.lb-count {
        color: #E94B3F !important;
        background-color: #fff;
        display: block;
        top: 10%;
        right: 3%;
    }
    .btn-toggle-menu{
        display: none;
    }
    .select-img-popup mat-dialog-container{
        background-color: #fff;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);;
        width: 415px;
        margin: auto;
    }
    .select-img-popup mat-dialog-container .select-img-item{
        border: 0;
    }
    .select-img-popup mat-dialog-container .select-img-footer button{
        background-color: #d8d3d3;
    }
}

@media only screen and (max-width: 767px){
    .menu-icons06 {
        background-image: url("./assets/img/table.png");
        width: 8vmin;
        height: 8vmin;
        background-size: 8vmin;
        display: inline-block;
        margin-right: 0px;
    }
    #menubar .active .menu-icons06 {
        color: #E94B3F !important;
        background-image: url("./assets/img/table-a.png");
    }
    .nav-scroll{
		overflow-x: scroll;
		font-size: 15px !important;
	}
	.sub-menu-bt span:first-child {
		height: 40px;
		background-size: 40px;
	}
	.nav-scroll::-webkit-scrollbar {
		width: 0px;
		height: 0px;
    }
    .nav-scroll .principal-icon{
        width: 100px;
        background-size: 100px;
        height: 100px;
    }
    .nav-scroll .principal-box {
        height: unset;
        text-align: center;
        padding: 20px;
    }
    .nav-scroll .principal-box .name {
        font-size: 16px;
    }
    .nav-scroll .sub-menu-bt{
        height: 70px;
    }
    .nav-scroll .sub-menu-bt .bt-text{
        font-size: 16px;
    }
    .nav-scroll .btn-analyzer {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-height: 415px){
    .mobile-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .popup-custom .popup-content .img-content img{
        max-width: 100px;
    }
    .custom-modal .popup-content{
        max-height: 200px;
    }
    mat-dialog-container{
        padding: 15px !important;
    }
    mat-dialog-container .popup-title{
        margin-bottom: 5px;
    }
    mat-dialog-container .popup-footer{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .nav-scroll{
        overflow: scroll;
    }
}

.rotate90 {
    max-width: 90px;
    max-height: 90px;
    transform: rotate(90deg);
}
.rotate180 {
    max-width: 90px;
    max-height: 90px;
    transform: rotate(180deg);
}
.rotate270 {
    max-width: 90px;
    max-height: 90px;
    transform: rotate(270deg);
}
.div-collapse {
    
}
.mat-select-arrow-wrapper {
    display: block !important;
}
.mat-select-panel {
    min-width: calc(100% + 32px) !important;
    max-width: none !important;
}
.pointer {
    cursor: pointer;
}
.mat-select-disabled {
    background-color: rgb(235, 235, 228);
}